.hero, .me{
    width: 100vw;
    box-shadow: 0px 0px 5px 10px rgba(0, 0, 0, 0.274);
}

.hero{
    background-color: white;
}

.top{
    padding: 2% 1%;
    width: 70vw;
}

.about{
    margin-top: 4%;
}

.img_desk{
    display: none;
}

.sub-head, .body-text{
    color: var(--yellow3);
    margin: 0 5%;
}

.body-text{
    line-height: 150%;
}

.sub-head{
    font-size: larger;
}

.me{
    margin: 1.5% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cos{
    height: 42.5vh;
}

.num_bottom{
    width: 90%;
    margin: 5%;
}

.slides{
    width: 90vw;
    margin-bottom: 3%;
}

.slides-img{
    width: 100%;
    height: 25vh;
}

.buttons{
    margin: 5% 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button{
    font-size: x-large;
    background-color: transparent;
    color: var(--grey1);
    border: none;
    text-shadow: 0px 3px 4px rgb(0, 0, 0);
}

/* computer */
@media (min-width: 700px){
    .about{
        display: flex;
        flex-direction: row;
    }
    .about_text{
        width: 60%;
    }
    .body-text{
        padding: 0 20%;
        font-size: larger;
    }
    .img_desk{
        display: flex;
        background-color: white;
        width: 25%;
    }
    .num_bottom{
        display: none;
    }
    .desk_second_half{
        width: 70%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
    }
    .me{
        width: auto;
        height: auto;
        box-shadow: none;
    }
    .productions{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        font-size: x-large;
        padding-left: 25%;
    }
    .slides-img{
        height: 70vh;
        width: 55vw;
    }
    .buttons{
        position: absolute;
        bottom: -125%;
        left: 0;
        margin: 0;
        padding: 0 13%;
        width: 100vw;
        justify-content: space-between;
    }
    button{
        font-size: 40px;
    }
}