.hero, .me{
    width: 100vw;
    box-shadow: 0px 0px 5px 10px rgba(0, 0, 0, 0.274);
}

.hero{
    background-color: white;
}

.top{
    padding: 2% 1%;
    width: 70vw;
}

.about{
    margin-top: 4%;
}

.img_desk{
    display: none;
}

.sub-head, .body-text{
    color: var(--yellow3);
    margin: 0 5%;
}

.body-text{
    margin-top: 3%;
    line-height: 150%;
}

.sub-head{
    font-size: larger;
}

.me{
    margin: 1.5% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cos{
    height: 42.5vh;
}

.num_bottom{
    width: 90%;
    margin: 5%;
}

.program_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.programs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% 0;
}

.program{
    width: 90%;
    margin: 2% 0;
}

/* computer */
@media (min-width: 700px){
    .top{
        height: 35vh;
        width: 55vw;
    }
    .about{
        display: flex;
        flex-direction: row;
    }
    .about_text{
        width: 60%;
    }
    .body-text{
        padding: 0 20%;
        font-size: larger;
    }
    .img_desk{
        display: flex;
        background-color: white;
        width: 25%;
    }
    .num_bottom{
        display: none;
    }
    .desk_second_half{
        width: 70%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
    }
    .me{
        width: auto;
        height: auto;
    }
    .productions{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        font-size: x-large;
        padding-left: 25%;
    }

    .img_desk, .me{
        box-shadow: 0px 5px 10px 15px rgba(0, 0, 0, 0.123);
    }

    .programs{
        flex-direction: row;
    }

    .program{
        width: 30%;
        margin: 0 1%;
    }
}