:root{
    --grey1:rgb(114, 109, 138);
    --purple1: rgb(16, 14, 38);
    --purple2:rgb(38, 28, 58);
    --purple3: rgb(50, 38, 76);
    --purple4: rgb(65, 35, 146);
    --yellow1: rgb(242, 221, 27);
    --yellow2: rgb(251, 203, 81);
    --yellow3: rgb(219, 192, 138);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Bree Serif", serif;
}

body{
    background-color: var(--purple1);
}

header{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--purple2);
    color: var(--yellow1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
    box-shadow: 0px 0px 5px 10px rgba(0, 0, 0, 0.336);
}

.logo{
    font-style: italic;
    font-size: x-large;
    font-weight: 500;
}

.menu-open{
    font-size: larger;
}

.menu-close{
    font-size: larger;
    display: none;
}

.nav{
    display: none;
    position: absolute;
    justify-content: center;
    width: 100vw;
    height: 90vh;
    left: 0;
    background-color: var(--purple2);
    text-align: center;
    padding-top: 15%;
}

li{
    list-style: none;
}

.main-link{
    color: var(--yellow1);
    padding: 10% 0;
    font-size: xx-large;
}
.sub-link{
    color: var(--yellow3);
    font-size: large;
    padding: 2% 0;
    text-align: center;
}

.portland, .outside{
    display: none;
    flex-direction: column;
    text-align: center;
}

main{
    background-color: var(--purple3);
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px -13px 10px 10px #1f1e1e4d;
}

.hero, .quote{
    width: 100vw;
    background-color: white;
    height: 12rem;
    text-align: center;
    line-height: 1000%;
    box-shadow: 0px 0px 5px 10px rgba(0, 0, 0, 0.274);
}

hr{
    border: 2px solid var(--purple4);
    margin: 5% 0;
    width: 100%;
}

h2{
    color: var(--yellow2);  
    margin: 3% 0 2% 0;
    font-size: xx-large;
    letter-spacing: 1.5px;
    text-shadow: 0px 4px 2px rgba(78, 75, 56, 0.884);
}

.about{
    margin-top: 4%;
}

.sub-head, .body-text{
    color: var(--yellow3);
    margin: 0 5%;
}

.body-text{
    line-height: 150%;
}

.sub-head{
    font-size: larger;
}

.quote{
    margin: 1.5% 0;
}

.slides{
    background-color: var(--grey1);
    width: 90vw;
    line-height: 1000%;
    margin-bottom: 3%;
}

.buttons{
    margin: 5% 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button{
    font-size: x-large;
    background-color: transparent;
    color: var(--grey1);
    border: none;
    text-shadow: 0px 3px 4px rgb(0, 0, 0);
}

footer{
    width: 100vw;
    padding: 1.5% 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--purple2);
    color: var(--grey1);
}

.contact{
    width: 43%;
    margin-right: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: x-large;
}