:root{
    --grey1:rgb(114, 109, 138);
    --purple1: rgb(16, 14, 38);
    --purple2:rgb(38, 28, 58);
    --purple3: rgb(50, 38, 76);
    --purple4: rgb(65, 35, 146);
    --yellow1: rgb(242, 221, 27);
    --yellow2: rgb(251, 203, 81);
    --yellow3: rgb(219, 192, 138);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Bree Serif", serif;
}

*:hover{
    cursor: default;
}

body{
    background-color: var(--purple1);
}

header{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--purple2);
    color: var(--yellow1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
    box-shadow: 0px 0px 5px 10px rgba(0, 0, 0, 0.336);
}

.desk_main_link, .desk-subs > *{
    display: none;
}

h1{
    font-style: italic;
    font-size: x-large;
    font-weight: 500;
}

.menu-open{
    font-size: larger;
}

.menu-close{
    font-size: larger;
    display: none;
}

.nav{
    display: none;
    position: absolute;
    justify-content: center;
    width: 100vw;
    height: 90vh;
    left: 0;
    background-color: var(--purple2);
    text-align: center;
    padding-top: 15%;
}

li{
    list-style: none;
}

.main-link{
    color: var(--yellow1);
    padding: 10% 0;
    font-size: xx-large;
}
.sub-link{
    color: var(--yellow3);
    font-size: large;
    padding: 2% 0;
    text-align: center;
}

.portland, .outside{
    display: none;
    flex-direction: column;
    text-align: center;
}

main{
    background-color: var(--purple3);
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px -13px 10px 10px #1f1e1e4d;
}

hr{
    border: 2px solid var(--purple4);
    margin: 5% 0;
    width: 100%;
}

h2{
    color: var(--yellow2);  
    margin: 3% 0 2% 0;
    font-size: xx-large;
    letter-spacing: 1.5px;
    text-shadow: 0px 4px 2px rgba(78, 75, 56, 0.884);
}

footer{
    width: 100vw;
    padding: 1.5% 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--purple2);
    color: var(--grey1);
}

.contact{
    width: 43%;
    margin-right: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: x-large;
}

footer > a{
    color: var(--grey1);
}

.email{
    display: none;
    position: absolute;
    margin: 0 0 0 0;
    left: 23px;
    font-size: medium;
    border: 2px solid var(--grey1);
    padding: 1% 1%;
    background-color: var(--purple1);
    box-shadow: 0px 5px 3px 2px rgba(0, 0, 0, 0.336);
}

.google_desk{
    display: none;
}

/* computer */
@media (min-width: 700px){
    main{
        margin: 0% 10%;
    }

    header{
        display: block;
        padding: 1% 10.5%;
    }

    .header_nav{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .header-hr{
        margin: .5% 0;
        padding: 0;
        width: 100vw;
        display: none;
        left: 0px;
        position: fixed;
    }

    .desk_main_link{
        display: flex;
        text-decoration: none;
        color: var(--yellow1);
    }

    .portland-desk, .outside-desk{
        display: none;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        font-size: x-large;
        color: var(--yellow3);
        padding: 2% 0 1% 0;
    }

    .desk-sub{
        text-decoration: none;
        color: var(--yellow3);
    }

    .desk_main_link:hover, .fa-solid:hover, .fa-brands:hover, .desk-sub:hover{
        cursor: pointer;
    }

    .menu-open{
        display: none;
    }

    h2{
        font-size: 55px;
    }

    .contact{
        width: 20%;
        margin: 0;
        font-size: xx-large;
    }
    h1, .desk_main_link{
        font-size: xx-large;
        margin-left: .1%;
    }
    footer{
        padding: 1% 10.5%;
    }
    .email{
        display: none;
        margin: 0 0 8.8% 77%;
        
    }
    .google_mobile{
        display: none;
    }
    .google_desk{
        display: flex;
    }
}