h2{
    margin-top: 8%;
    padding-left: 5%;
}

.title{
    margin-bottom: 5%;
    font-size: larger;
    color: var(--yellow2);
}

.info{
    margin: 3%;
    color: var(--yellow3);
}

.image1, .image2{
    width: 80vw;
    margin: 1% 0;
}

.group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.left{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.desk_img{
    display: none;
}
.mobile_img{
    display: inline;
}

.badge{
    position: absolute;
}

.badge_2022{
    width: 20%;
    top: 23%;
    right: 7%;
}

.badge_2023{
    width: 20%;
    bottom: -47%;
    left: 7%;
}

/* computer */
@media (min-width: 700px){
    .mobile_img{
        display: none;
    }
    .desk_img{
        display: flex;
    }
    h2{
        margin: 3% 0 0 0;
        padding-left: 2%;
    }
    hr{
        margin: 2%
    }
    .title{
        font-size: xx-large;
        margin-bottom: 1%;
    }
    .info{
        font-size: larger;
    }
    .group{
        flex-direction: row;
        margin-bottom: 2%;
    }
    .image1{
        width: 100%;
        margin: 2% 0%;
    }
    .right{
        width: 40%;
    }
    .left{
        flex-direction: column;
        align-items: start;
        width: 50%;
    }
    .image2{
        align-self: center;
        margin-top: 2%;
        width: 60%;
    }
    .badge{
        position: fixed;
    }
    
    .badge_2022{
        width: 10%;
        top: 7%;
        left: 0;
    }
    
    .badge_2023{
        width: 13%;
        top: 6%;
        left: 88.5%;
    }
}