h2{
    margin-top: 8%;
    padding-left: 5%;
}

.title{
    margin-bottom: 3%;
    font-size: larger;
    color: var(--yellow2);
    text-align: center;
}

.info{
    color: var(--yellow3);
}

.image{
    width: 80vw;
}

.swap{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.info{
    margin: 4%;
}

.ny_pirates{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* computer */
@media (min-width: 700px){
    h2{
        margin: 3% 0 0 0;
        padding-left: 2%;
    }
    hr{
        margin: 2%
    }
    .title{
        font-size: xx-large;
        margin-bottom: 1%;
    }
    .info{
        font-size: larger;
    }
    .image{
        width: 30vw;
    }
    .swap{
        flex-direction: column;
        justify-content: space-around;
        margin: 0 5%;
    }
    .info{
        width: 60%;
        margin: 1% 0 2% 0;
    }
}