h2{
    margin-top: 8%;
    padding-left: 5%;
}

.title{
    margin-bottom: 3%;
    font-size: larger;
    color: var(--yellow2);
    text-align: center;
}

.info{
    color: var(--yellow3);
}

.image{
    width: 80vw;
}

/* .inv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.info{
    margin: 4%;
}

.vid{
    width: 90%;
}

/* computer */
@media (min-width: 700px){
    h2{
        margin: 3% 0 0 0;
        padding-left: 2%;
    }
    hr{
        margin: 2%
    }
    .title{
        font-size: xx-large;
        margin-bottom: 1%;
    }
    .info{
        font-size: larger;
    }
    .image{
        width: 25vw;
        margin: 2% 0;
    }
    .info{
        margin: 1% 0 2% 0;
    }
    .vid{
        width: 50vw;
        margin-top: 3%;
    }
    .inv{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: start;
        justify-content: center;
    }
    .group{
        width: 35%;
        margin: 0 3%;
    }
}