h2{
    margin-top: 8%;
    padding-left: 5%;
}

.large_pic{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.image{
    width: 100vw;
    height: 15vh;
    background-color: white;
    box-shadow: 0px 0px 5px 10px rgba(0, 0, 0, 0.274);
}

.plays_display{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3% 8%;
    margin-bottom: 5%;
}

.title{
    color: var(--yellow2);
    margin-bottom: 7%;
    font-size: x-large;
    width: 100%;
}

.play_image{
    width: 35vw;
    height: 15vh;
}

.imgs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.img_text{
    margin: 1.5%;
}

.hover_text{
    display: none;
}

.midsummer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 3%;
}

.info{
    color: var(--yellow3);
    margin-bottom: 5%;
    font-size: large;
    width: 85%;
    text-align: center;
}

.slides{
    margin: 10% 0;
}

.slides-img{
    width: 60vw;
    height: 35vh;
}

.buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.arrow{
    font-size: x-large;
    background-color: transparent;
    color: var(--grey1);
    border: none;
    text-shadow: 0px 3px 4px rgb(0, 0, 0);
}

.selects{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.selects > button{
    color: var(--yellow1);
    border: 0px solid black;
    background-color: rgba(0, 0, 0, 0);
    font-size: x-large;
    text-decoration: underline;
}

/* computer */
@media (min-width: 700px){
    h2{
        margin: 3% 0 0 0;
        padding-left: 2%;
    }
    
    hr{
        margin: 2%
    }

    .image{
        height: 55vh;
    }

    .title{
        font-size: xx-large;
        margin: 1.5%;
        width: 50%;
    }
    
    .play_image{
        width: 20vw;
        height: 30vh;
    }
    .group{
        padding: 0;
        margin: 0;
    }

    .imgs{
        justify-content: space-evenly;
        margin: 2% 2%;
    }

    .hover_text{
        display: inline;
        background-color: rgba(0, 0, 0, 0.637);
        opacity: 0;
        transition: .45s ease;
        color: white;
        padding: 6%;
        text-align: center;
        width: 100%;
        transform: translateY(-100%);
        font-size: larger;
    }

    .img_text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 30vh;
    }
    .img_text:hover .hover_text{
        opacity: 1;
    }

    .selects{
        width: 100%;
    }
    .selects > button{
        text-decoration: none;
        font-size: x-large;
    }
    .slides-img{
        width: 25vw;
        height: 35vh;
    }

    .buttons{
        margin: 0;
        padding: 0 13%;
        justify-content: space-between;
    }
    .arrow{
        font-size: 40px;
    }

    .selects > button:hover{
        transform: scale(1.35);
        cursor: pointer;
    }
}