h2{
    margin-top: 8%;
    padding-left: 5%;
}

.large_pic{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.image{
    width: 100vw;
    height: 15vh;
    background-color: white;
    box-shadow: 0px 0px 5px 10px rgba(0, 0, 0, 0.274);
}

.plays_display{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3% 8%;
    margin-bottom: 5%;
}

.title{
    color: var(--yellow2);
    margin-bottom: 7%;
    font-size: x-large;
}

.play_image{
    width: 35vw;
    height: 15vh;
}

.imgs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.img_text{
    margin: 1.5%;
}

.hover_text{
    display: none;
}


/* computer */
@media (min-width: 700px){
    h2{
        margin: 3% 0 0 0;
        padding-left: 2%;
    }
    
    hr{
        margin: 2%
    }

    .image{
        height: 55vh;
    }

    .title{
        font-size: xx-large;
        margin: 1.5%;
    }
    
    .play_image{
        width: 20vw;
        height: 30vh;
    }
    .group{
        padding: 0;
        margin: 0;
    }

    .imgs{
        justify-content: space-evenly;
        margin: 2% 2%;
    }

    .hover_text{
        display: inline;
        background-color: rgba(0, 0, 0, 0.637);
        opacity: 0;
        transition: .45s ease;
        color: white;
        padding: 6%;
        text-align: center;
        width: 100%;
        transform: translateY(-100%);
        font-size: larger;
    }

    .img_text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 30vh;
    }
    .img_text:hover .hover_text{
        opacity: 1;
    }
}