h2{
    margin-top: 8%;
    padding-left: 5%;
}

.large_pic{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image{
    width: 100vw;
    height: 15vh;
    background-color: white;
}

.plays_display{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3% 8%;
    margin-bottom: 5%;
}

.title{
    color: var(--yellow2);
    margin-bottom: 7%;
    font-size: x-large;
}

.play_image{
    width: 35vw;
    height: 15vh;
}

.imgs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.img_text{
    margin: 1.5%;
    border: 1px solid red;
}

.hover_text{
    display: none;
}


/* computer */
@media (min-width: 700px){
    h2{
        margin: 3% 0 0 0;
        padding-left: 2%;
    }
    
    hr{
        margin: 2%
    }

    .image{
        height: 55vh;
    }

    .title{
        font-size: xx-large;
        margin: 1.5%;
    }
    .play_image{
        width: 20vw;
        height: 30vh;
    }
    .group{
        padding: 0;
        margin-bottom: 2%;
    }

    .imgs{
        justify-content: space-evenly;
        margin: 0 2%;
    }

    .hover_text{
        display: flex;
        position: absolute;
        bottom: 10px;
    }
}