h2{
    margin-top: 6%;
    padding-left: 3%;
}

.top{
    width: 100vw;
}

.top_image{
    width: 100vw;
    box-shadow: 0px 0px 5px 10px rgba(0, 0, 0, 0.274);
}

.story_start{
    width: 85vw;
    padding: 1% 1% 2% 4%;
}

.story_stuff{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.story_stuff > hr{
    margin: 2% 0;
}

.story_stuff > h2, .story_section>h2{
    margin: 5% 0% 5% 0%;
    font-size: 1.5rem;
}

.story_image{
    width: 80%;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.199);
}

.story_end{
    width: 20vw;
    padding-left: 3%;
    margin-top: 2%;
}

.first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin-top: 1%;
}

.title{
    margin-bottom: 3%;
    font-size: x-large;
    color: var(--yellow2);
}

.info{
    display: none;
    color: var(--yellow3);
    line-height: 1.5;
    margin: 0 5% 3% 5%;
}

.chunk_top{
    display: flex;
    flex-direction: row;
    width: 80vw;
    justify-content: center;
    align-items: center;
    padding-left: 8%;
}

.down_arrow, .up_arrow{
    color: var(--yellow3);
    align-self: center;
    margin-bottom: 2%;
    margin-left: 2%;
}

.up_arrow{
    display: none;
    rotate: 180deg
}

@media (min-width: 700px) {
    h2{
        margin: 3% 0 0 0;
        padding-left: 1%;
    }

    hr{
        margin: 2%;
    }

    .story_start{
        width: 25vw;
        padding: 0;
    }

    .story_stuff > hr{
        display: flex;
    }

    .story_stuff > h2{
        margin: 7% 0 5% 0;
    }

    .desk_section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .story_section{
        width: 30vw;
    }

    .story_text{
        width: 30%;
    }

    .story_end{
        width: 20%;
        margin-right: 2%;
    }

    .story_start:hover, .story_end:hover{
        cursor: pointer;
    }

    .first{
        margin-top: 3%;
    }

    .chunk_top{
        padding-left:1%;
    }

    .title{
        font-size: xx-large;
    }
    .info{
        font-size: larger;
        display: flex;
    }

    .up_arrow, .down_arrow{
        display: none;
    }
}