h2{
    margin-top: 6%;
    padding-left: 3%;
}

.top{
    width: 100vw;
}

.top_image{
    width: 100vw;
    box-shadow: 0px 0px 5px 10px rgba(0, 0, 0, 0.274);
}

.story_start{
    width: 85vw;
    padding: 1% 1% 2% 4%;
}

.story_stuff{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.story_stuff > hr{
    margin: 2% 0;
}

.story_stuff > h2, .story_section>h2{
    margin: 5% 0% 5% 0%;
    font-size: 1.5rem;
}

.story_image{
    width: 80%;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.199);
}

.story_end{
    width: 20vw;
    margin-bottom: 5%;
    padding-left: 3%;
}

@media (min-width: 700px) {
    h2{
        margin: 3% 0 0 0;
        padding-left: 1%;
    }

    hr{
        margin: 2%;
    }

    .story_start{
        width: 25vw;
        padding: 0;
    }

    .story_stuff > hr{
        display: flex;
    }

    .story_stuff > h2{
        margin: 7% 0 5% 0;
    }

    .desk_section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .story_section{
        width: 30vw;
    }

    .story_text{
        width: 30%;
    }

    .story_end{
        width: 20%;
    }

    .story_start:hover, .story_end:hover{
        cursor: pointer;
    }
}