h2{
    margin-top: 8%;
    padding-left: 5%;
}

.musical_group, .right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right{
    flex-direction: row;
}

.left{
    width: 95%;;
    margin-bottom: 3%;
}

.title{
    margin-bottom: 3%;
    font-size: larger;
    color: var(--yellow2);
}

.info{
    color: var(--yellow3);
}

.image1, .image2{
    background-color: white;
    margin: 2%;
}

.small_images{
    width: 30%;
}

.image1{
    width: 50vw;
    height: 20vh;
    margin-right: 1%;
}

.image2{
    width: 25vw;
    height: 9.7vh;
    margin-bottom: 1%;
}

/* computer */
@media (min-width: 700px){
    h2{
        margin: 3% 0 0 0;
        padding-left: 2%;
    }
    hr{
        margin: 2%
    }
    .musical_group{
        flex-direction: row;
        justify-content: space-between;
        padding: 0 5%;
    }
    .image1{
        width: 19vw;
        height: 35vh;
    }
    .image2{
        width: 12vw;
        height: 17vh;
    }
    .right{
        margin-right: 2%;
    }
    .left{
        width: 30%;
        margin: 0 9%;
    }
    .title{
        font-size: xx-large;
    }
    .info{
        font-size: larger;
    }
    .swap_sides{
        flex-direction: row-reverse;
    }
}